.projects {
    width: 100%;
}

.projects .container {
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
    margin: 4rem auto;
    padding: 4rem 0rem;
    margin-top: 0;
}

.projects h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 40px;
}

.projects .container .content {
   display: flex;
   flex:1;
}

.projects .card {
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0,0,0,.2);
    padding: 1rem;
    margin-left: 50px;
}

.projects .card:hover{
    transform:scale(1.3);
}

.projects .card p {
    color: #787878;
    font-size: 1.1rem;
    margin: 12px;
}

.projects span {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
}

.projects span:hover{
    text-decoration: underline;
}

.projects .card img{
    width:100%;
}

@media screen and (max-width: 940px) {
    .projects .container {
        width: 100%;
    }

    .projects .container .content {
        grid-template-columns: 1fr;
    }

    .projects .card {
        max-width: 100%;
        margin: 1rem;
    }
}









